@import 'tailwindcss';

@import '../fonts/inter/web/inter.css';
@import '../fonts/jet-brains-mono/webfonts/jetbrains-mono.css';

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.ts';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  /*--spacing-ui\/2: calc(var(--spacing) * 1);*/
  /*--spacing-ui: calc(var(--spacing) * 4);*/
  /*--spacing-mobile-section: calc(var(--spacing) * 4);*/
  /*--spacing-section: calc(var(--spacing) * 6);*/
  /*--spacing-flyout: calc(var(--spacing) * 112);*/
}
